<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Permite arquivos e pastas que realmente existem
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redireciona todas as outras rotas para o index.html (SPA)
  RewriteRule . /index.html [L]
</IfModule>
